html,
body {
  margin: 0;
  height: 100%;
}

.container {
  background-color: #dee6fd;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo {
  width: 80%;
  background-color: white;
  height: 80%;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3%;
  justify-content: space-around;
  box-shadow: 0px 28px 35px -4px rgb(190 190 252);
}

.imagem {
  background-image: url(/images/illustration-hero.svg);
  height: 47vw;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
}

.bloco {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f8f9fe;
  width: 85%;
  margin: auto;
  border-radius: 12px;
  padding: 10px 0;
}

.pagamento {
  background-color: #485ee1;
  width: 85%;
  margin: auto;
  padding: 15px 0;
  border-radius: 12px;
  box-shadow: 0 7px 26px 1px rgb(157 157 225);
}

.icone,
.plano_anual,
.change {
  display: inline-block;
}

h1,
p,
.pagamento,
.cancelamento,
.change {
  font-family: "Outfit", sans-serif;
  margin: 0 auto;
  width: 85%;
}

.preco {
  font-family: "Red Hat Display", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

h1 {
  font-size: 22px;
}

.texto {
  line-height: 1.5rem;
}

.cancelamento {
  padding: 10px 0 30px 0;
  font-weight: 700;
}

.plano_anual {
  width: 100%;
  line-height: 1.5rem;
  font-weight: 700;
}

.annual_plan: {
  font-size: 10px;
  width: 100%;
}

.preco,
.texto,
.cancelamento {
  color: gray;
}

.pagamento {
  color: white;
  font-weight: 700;
}

.change:hover {
  text-decoration: underline;
  color: purple;
  font-weight: 700;
}

.pagamento:hover {
  background-color: purple;
}

.icone {
  padding-left: 10px;
}
